.u-section-1 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.3), rgba(66,84,101,0.3)), url("images/4c1d4a3418017424a48944dc95959152.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 360px;
  margin: 70px 62px 70px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  position: relative;
  font-size: 4.5rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-image-1 {
  width: 69px;
  height: 31px;
  margin: 30px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 470px;
    margin-right: 51px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 35.91% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-right: 32px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
    width: NaNpx;
  }

  .u-section-1 .u-image-1 {
    width: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 338px;
    margin-right: 24px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 25.61% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 283px;
    margin-right: 18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 34px;
  }
}.u-section-2 {
  min-height: 550px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/9e0d69ba825882993aac45e1875ff060.png");
  min-height: 561px;
  background-position: 50% 50%;
}

.u-section-2 .u-group-1 {
  width: 460px;
  min-height: 427px;
  margin: 67px auto 67px 81px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 52px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  margin: 30px auto 40px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 561px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 729px;
  height: 491px;
  margin: 35px auto 35px -164px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    width: 379px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 43px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 601px;
    margin-left: -135px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 615px;
    background-position: 80.77% 50%;
  }

  .u-section-2 .u-group-1 {
    width: 291px;
    min-height: 566px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 51px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-line-1 {
    width: 33px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 529px;
    margin-bottom: 51px;
    margin-left: -145px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 550px;
  }

  .u-section-2 .u-image-1 {
    min-height: 700px;
    background-position: 100% 50%;
  }

  .u-section-2 .u-group-1 {
    width: 421px;
    margin-top: 56px;
    margin-bottom: 70px;
    margin-left: 49px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 31px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-2 .u-image-2 {
    width: 542px;
    height: 491px;
    margin-top: 40px;
    margin-left: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 686px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-group-1 {
    width: 341px;
    min-height: 527px;
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    width: 335px;
  }

  .u-section-2 .u-line-1 {
    width: 26px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
    width: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 262px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px auto 49px 0;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 522px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-3 .u-text-1 {
  position: relative;
  margin: 28px 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 63px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 340px;
  height: 193px;
  margin: 47px auto 0 0;
}

.u-section-3 .u-btn-1 {
  position: relative;
  background-image: none;
  margin: 37px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 522px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-3 .u-text-3 {
  position: relative;
  margin: 28px 20px 0 0;
}

.u-section-3 .u-line-2 {
  width: 63px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 340px;
  height: 193px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: 37px auto 35px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 522px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-3 .u-text-5 {
  position: relative;
  margin: 28px 20px 0 0;
}

.u-section-3 .u-line-3 {
  width: 63px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-6 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-line-1 {
    width: 52px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-image-1 {
    width: 280px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 16px;
  }

  .u-section-3 .u-line-2 {
    width: 52px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-image-2 {
    width: 280px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-3 .u-line-3 {
    width: 52px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-line-1 {
    width: 40px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 215px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-3 .u-line-2 {
    width: 40px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 215px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-3 .u-line-3 {
    width: 40px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 37px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 412px;
    height: 181px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 49px;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    width: 37px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 412px;
    height: 191px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 39px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 9px;
  }

  .u-section-3 .u-line-3 {
    width: 37px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 31px;
  }

  .u-section-3 .u-image-1 {
    width: 328px;
    height: 193px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-bottom: 35px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-line-2 {
    width: 31px;
  }

  .u-section-3 .u-image-2 {
    width: 328px;
    height: 193px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 37px;
    margin-bottom: 35px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-3 .u-line-3 {
    width: 31px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 6px;
  }
}.u-section-4 {
  min-height: 670px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 670px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 729px;
  height: 491px;
  margin: 90px auto 90px 20px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/74217991b9f3bfc131a946fa47191248.png");
  min-height: 670px;
  background-position: 50% 50%;
}

.u-section-4 .u-group-1 {
  width: 511px;
  min-height: 492px;
  margin: 89px 81px 89px auto;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 40px;
}

.u-section-4 .u-text-1 {
  margin: 50px 10px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 10px 0 0;
}

.u-section-4 .u-line-1 {
  width: 52px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 10px 0 0;
}

.u-section-4 .u-btn-1 {
  margin: 30px auto 50px 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 639px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 639px;
  }

  .u-section-4 .u-image-1 {
    width: 601px;
    margin-top: 34px;
    margin-left: 16px;
  }

  .u-section-4 .u-image-2 {
    min-height: 639px;
    background-position: 24.34% 27.31%;
  }

  .u-section-4 .u-group-1 {
    width: 421px;
    min-height: 517px;
    margin-top: 61px;
    margin-right: 50px;
    margin-bottom: 61px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 33px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-4 .u-line-1 {
    width: 43px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 608px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    margin-bottom: 9px;
    margin-left: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 608px;
    background-position: 19.07% 27.31%;
  }

  .u-section-4 .u-group-1 {
    width: 323px;
    min-height: 567px;
    margin-top: 21px;
    margin-bottom: 21px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 21px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 33px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 550px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-4 .u-image-1 {
    width: 432px;
    margin-top: 35px;
    margin-left: auto;
    margin-bottom: 35px;
  }

  .u-section-4 .u-image-2 {
    min-height: 681px;
    background-position: 21.48% 27.31%;
  }

  .u-section-4 .u-group-1 {
    width: 303px;
    min-height: 592px;
    margin-top: 30px;
    margin-bottom: 59px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
  }

  .u-section-4 .u-line-1 {
    width: 31px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 289px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 670px;
    background-position: 34.35% 27.31%;
  }

  .u-section-4 .u-group-1 {
    width: 254px;
    min-height: 492px;
    margin-top: 89px;
    margin-right: 24px;
    margin-bottom: 89px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 12px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 3px;
  }

  .u-section-4 .u-line-1 {
    width: 26px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 3px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 459px;
}

.u-section-5 .u-group-1 {
  width: 907px;
  min-height: 101px;
  margin: 32px auto 0;
}

.u-section-5 .u-text-1 {
  position: relative;
  margin: 10px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 59px;
  transform-origin: left center 0;
  margin: 30px auto 10px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 32px auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 264px;
}

.u-section-5 .u-image-1 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 20px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 264px;
}

.u-section-5 .u-image-2 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 19px 20px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 264px;
}

.u-section-5 .u-image-3 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 19px 20px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 264px;
}

.u-section-5 .u-image-4 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 19px 20px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 264px;
  background-image: none;
}

.u-section-5 .u-image-5 {
  height: 176px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 19px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 748px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-line-1 {
    width: 49px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-5 .u-group-1 {
    width: 573px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-line-1 {
    width: 37px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1538px;
  }

  .u-section-5 .u-group-1 {
    width: 537px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-line-1 {
    width: 35px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 265px;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 265px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 265px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 265px;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-line-1 {
    width: 29px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 264px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 264px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 264px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 264px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }
}.u-section-6 {
  min-height: 550px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/9e0d69ba825882993aac45e1875ff060.png");
  min-height: 586px;
  background-position: 50% 50%;
}

.u-section-6 .u-group-1 {
  width: 460px;
  min-height: 452px;
  margin: 68px auto 68px 81px;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  position: relative;
  margin: 20px 20px 0 0;
}

.u-section-6 .u-line-1 {
  width: 52px;
  height: 3px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 30px 20px 0 0;
}

.u-section-6 .u-btn-1 {
  margin: 30px auto 40px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 586px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  margin-bottom: 0;
}

.u-section-6 .u-image-2 {
  width: 729px;
  height: 491px;
  margin: 48px auto 48px -146px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 379px;
    margin-left: 67px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-6 .u-line-1 {
    width: 43px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    width: 601px;
    margin-left: -120px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    min-height: 687px;
    background-position: 84.04% 50%;
  }

  .u-section-6 .u-group-1 {
    width: 291px;
    min-height: 552px;
    margin-left: 48px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-6 .u-line-1 {
    width: 33px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 687px;
  }

  .u-section-6 .u-image-2 {
    width: 460px;
    margin-top: 92px;
    margin-bottom: 70px;
    margin-left: -121px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    min-height: 736px;
    background-position: 91.4% 50%;
  }

  .u-section-6 .u-group-1 {
    width: 367px;
    min-height: 602px;
    margin-top: 67px;
    margin-bottom: 67px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 31px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 9px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-6 .u-image-2 {
    width: 432px;
    margin-top: 35px;
    margin-left: auto;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 803px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    min-height: 669px;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 65px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 26px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-6 .u-btn-1 {
    margin-bottom: 65px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 289px;
    margin-bottom: 0;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 975px;
}

.u-section-7 .u-group-1 {
  width: 907px;
  min-height: 101px;
  margin: 32px auto 0;
}

.u-section-7 .u-text-1 {
  position: relative;
  margin: 10px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 59px;
  transform-origin: left center 0;
  margin: 30px auto 10px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 32px auto 0 0;
}

.u-section-7 .u-image-1 {
  background-image: url("images/ea1178a65a18706b72fe024f7ea342cf.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  background-image: url("images/f836deb8022f2811e0791e9c18d01d31.png");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  background-image: url("images/221588643f76b3f6544944d6ad442dd0.png");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-4 {
  background-image: url("images/a5e9ad411ee66c7419201a7b7bfbb927.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-5 {
  background-image: url("images/25137ddc4239b683a57a7121059bfba8.jpeg");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-6 {
  background-image: url("images/8236a851badc4bc7864590c8ae36594b.png");
  min-height: 352px;
  background-position: 50% 50%;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  margin: 43px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 748px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-line-1 {
    width: 49px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 573px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-line-1 {
    width: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2382px;
  }

  .u-section-7 .u-group-1 {
    width: 537px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-line-1 {
    width: 35px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 201px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-7 .u-line-1 {
    width: 29px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 482px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  background-image: none;
  min-height: 382px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-8 .u-image-1 {
  width: 559px;
  height: 371px;
  margin: 6px auto 6px -14px;
}

.u-section-8 .u-layout-cell-2 {
  background-image: none;
  min-height: 382px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-8 .u-text-1 {
  position: relative;
  margin: 28px 20px 0 0;
}

.u-section-8 .u-line-1 {
  width: 63px;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-8 .u-text-2 {
  position: relative;
  font-style: italic;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 500px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-8 .u-image-1 {
    width: 461px;
    margin-left: -12px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-8 .u-line-1 {
    width: 52px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 353px;
    margin-left: -7px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-8 .u-line-1 {
    width: 40px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 0;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 78px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-8 .u-image-1 {
    width: 534px;
    margin-left: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-8 .u-line-1 {
    width: 37px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-8 .u-image-1 {
    width: 338px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-8 .u-line-1 {
    width: 31px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-9 {
  background-image: url("images/ceabef812d79269b3b3d08e020507d44.jpeg");
  background-position: 50% 100%;
}

.u-section-9 .u-sheet-1 {
  min-height: 541px;
}

.u-section-9 .u-group-1 {
  width: 748px;
  min-height: 297px;
  margin: 50px auto 41px;
}

.u-section-9 .u-text-1 {
  margin: 23px 20px 0;
}

.u-section-9 .u-line-1 {
  width: 59px;
  transform-origin: left center 0;
  margin: 30px auto 0;
}

.u-section-9 .u-text-2 {
  position: relative;
  font-size: 1.25rem;
  margin: 45px 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 617px;
  }

  .u-section-9 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-line-1 {
    width: 49px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-line-1 {
    width: 37px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-line-1 {
    width: 35px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-line-1 {
    width: 29px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.container-choferes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* css para las estrellas  */
input[type = "radio"]{ display:none;}
.clasificacion{
  direction: rtl;/* right to left */
  unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label:hover{color:orange;}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion2 {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
label{ color:grey;}

/* codigo para el precio */
.bg-gradient {
  background: #C9D6FF;
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF); 
  background: linear-gradient(to right, #E2E2E2, #C9D6FF);
  } 
  ul li {
    margin-bottom:1.4rem;
  }
  .pricing-divider {
  border-radius: 20px;
  background: #C64545;
  padding: 1em 0 4em;
  position: relative;
  }
  .blue .pricing-divider{
  background: #2D5772; 
  }
  .green .pricing-divider {
  background: #1AA85C; 
  }
  .red b {
    color:#C64545
  }
  .blue b {
    color:#2D5772
  }
  .green b {
    color:#1AA85C
  }
  .pricing-divider-img {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 80px;
  }
  .deco-layer {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  .btn-custom  {
    background:#C64545; color:#fff; border-radius:20px
  }
  
  .img-float {
    width:50px; position:absolute;top:-3.5rem;right:1rem
  }
  
  .princing-item {
    transition: all 150ms ease-out;
  }
  .princing-item:hover {
    transform: scale(1.05);
  }
  .princing-item:hover .deco-layer--1 {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
  }
  .princing-item:hover .deco-layer--2 {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }
  
  
  